body {
    font-family: Arial, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highest-score {
    font-size: 1.2em;
    color: #ff4500;
}

.content {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
}
