{% extends "base.html" %}

{% block content %}
<h2>Sınav</h2>
<form method="post" action="{{ url_for('submit') }}">
    {% for question in questions %}
        <div class="question">
            <p>{{ question.question }}</p>
            <input type="radio" name="{{ question.id }}" value="{{ question.option1 }}">{{ question.option1 }}<br>
            <input type="radio" name="{{ question.id }}" value="{{ question.option2 }}">{{ question.option2 }}<br>
            <input type="radio" name="{{ question.id }}" value="{{ question.option3 }}">{{ question.option3 }}<br>
            <input type="radio" name="{{ question.id }}" value="{{ question.option4 }}">{{ question.option4 }}<br>
        </div>
    {% endfor %}
    <button type="submit">Gönder</button>
</form>
{% endblock %}
